<img src="@ViewBag.Picture" alt="Profile picture" />
<h2>@ViewBag.Email</h2>
<p><b>@ViewBag.UserID</b></p>
<p>This is a secured page.</p>
<p><a asp-controller="Account" asp-action="Logout">Logout</a></p>